<div class="mat-elevation-z8 wht-table-wrapper">

  <table class="wht-table" mat-table [dataSource]="tableData?.catsList">

    <ng-container matColumnDef="breed">
      <th mat-header-cell *matHeaderCellDef>Breed</th>
      <td mat-cell *matCellDef="let row">
        <div class="text-wrapper">
          {{row?.name}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="temperament">
      <th mat-header-cell *matHeaderCellDef>Temperament</th>
      <td mat-cell *matCellDef="let row">
        <div class="text-wrapper">
          {{row?.temperament}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">
        <div class="text-wrapper">
          {{row?.description}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="images">
      <th mat-header-cell *matHeaderCellDef>Images</th>
      <td mat-cell *matCellDef="let row">
        <div class="text-wrapper">
          <img
            alt="Cat Image"
            [ngSrc]="row?.image?.url"
            width="150"
            height="100"
            priority
          >
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filters</td>
    </tr>
  </table>
</div>
